<div class="widget fill" tabindex="0" aria-label="">
  <div class="certificate-container">
    <div class="certificate">
      <div class="certificate-header orange">Completion Certificate</div>
      <div class="certificate-username">Your name</div>
      <div class="certificate-text">has completed the <span class="certificate-title"></span> Interactive Video Vignette.</div>
      <div class="date orange"></div>
      <div class="time blue"><span class="startTime"></span> to <span class="endTime"></span></div>
    </div>
  </div>
</div>