<div class="widget fill">
  <div class="analysis-container" tabindex="0" aria-label="">
    <div class="images"></div>
    <canvas class="canvas" width="600" height="300">
      Sorry, your browser does not support html5.
    </canvas>
    <div class="error-message" style="display: none;"></div>
    <div class="instruction-message" style="display: none;"></div>
    <div class="current-time">t = 0.80s</div>

    <div class="image-player-controls">
      <div class="clear-data" title="Clear Data"><span class="icon-close"></span></div>
      <div class="timeline-bar">
        <div class="timeline-range"></div>
      </div>
      <div class="left" title="Previous Frame"><span class="icon-key-arrow-left"></span></div>
      <div class="right" title="Next Frame"><span class="icon-key-arrow-right"></span></div>
    </div>
  </div>
  <div class="hidden" tabindex="0" role="button" aria-label="Click on button to know next point."></div>
</div>