<div class="widget fill" tabindex="0" aria-label="">
  <div class="image-player-container">
    <div class="images"></div>
    <div class="image-player-controls">
      <div class="play" title="Play"><span class="icon-play"></span></div>
      <div class="pause" title="Pause"><span class="icon-pause"></span></div>
      <div class="timeline-bar">
        <div class="timeline-range"></div>
      </div>
      <div class="left" title="Previous Frame"><span class="icon-key-arrow-left"></span></div>
      <div class="right" title="Next Frame"><span class="icon-key-arrow-right"></span></div>
    </div>
  </div>
</div>