<div class="widget fill">
  <div class="login-container">
    <div class="login">
      <div class="login-title">Title</div>
      <div class="login-text">Enter your name here</div>
      <input type="text" placeholder="Your name" aria-label="Enter your name here and then click Next at the bottom right corner of this window to continue.">
      <div class="login-text">and then click Next at the bottom right corner of this window to continue.</div>
      <div class="login-hint red">Please enter your name before proceeding.</div>
    </div>
  </div>
</div>