<div class="widget fill" tabindex="0" aria-label="">
  <div class="question-container scrollable">
    <div class="question-text blue">Question?</div>
    <div class="question-answers">
      <div class="question-answer" style="display: none;">
        <input type="radio" class="question-answer-button">
        <label>Variant 1.</label>
      </div>
    </div>
    <div class="question-prompt" tabindex="-1" aria-label="Come back and answer all the questions before proceeding!">
      You must answer this question before proceeding!
    </div>
    <div class="help-text">
      Questions may change very little from one to the next. Pay very close attention to specific verbiage before moving on!
    </div>
  </div>
</div>